AllowAgentForwarding no
AllowStreamLocalForwarding remote
AllowUsers gvm
AuthenticationMethods publickey
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com
ClientAliveCountMax 3
ClientAliveInterval 10
ForceCommand /sbin/nologin
HostKey /etc/ssh/ssh_host_ed25519_key
KexAlgorithms curve25519-sha256@libssh.org
MACs hmac-sha2-512-etm@openssh.com
MaxAuthTries 2
MaxSessions 0
PasswordAuthentication no
PermitRootLogin no
PermitTTY no
PrintMotd no
PrintMotd no
StreamLocalBindUnlink yes
X11Forwarding no
