{%- import "macros/variables.njk" as gbv -%}
{% include "head_variables.njk" %}

{{ gbv.from(gvm_build.IMAGE.IMAGE_BUILD+build_target, 'build_base', 'build') }}
{{ gbv.args_empty(gvm_build.BUILD_ENV) -}}
{{ gbv.args_empty(gvm_build.VERSION) -}}
COPY --from={{ gvm_build.IMAGE.IMAGE_BUILD }}{{ build_target }}:build_gvm_libs / /
RUN --mount=type=cache,mode=0755,target=/root/.dl \
    echo "/usr/local/lib" >/etc/ld.so.conf.d/openvas.conf && ldconfig \
    && wget -N -q -O "/root/.dl/openvas-smb-${OPENVAS_SMB_VERSION}.tar.gz" "https://github.com/greenbone/openvas-smb/archive/refs/tags/v${OPENVAS_SMB_VERSION}.tar.gz" \
    && wget -N -q -O "/root/.dl/openvas-smb-${OPENVAS_SMB_VERSION}.tar.gz.asc" "https://github.com/greenbone/openvas-smb/releases/download/v${OPENVAS_SMB_VERSION}/openvas-smb-${OPENVAS_SMB_VERSION}.tar.gz.asc" \
    && gpg --verify "/root/.dl/openvas-smb-${OPENVAS_SMB_VERSION}.tar.gz.asc" "/root/.dl/openvas-smb-${OPENVAS_SMB_VERSION}.tar.gz" \
    && tar -C ${SOURCE_DIR} -xvzf /root/.dl/openvas-smb-${OPENVAS_SMB_VERSION}.tar.gz \
    && mkdir -p ${BUILD_DIR}/openvas-smb && cd ${BUILD_DIR}/openvas-smb \
    && cmake ${SOURCE_DIR}/openvas-smb-${OPENVAS_SMB_VERSION} \
      -DCMAKE_INSTALL_PREFIX=${INSTALL_PREFIX} \
      -DCMAKE_BUILD_TYPE=Release \
    && make -j$(nproc) \
    && make DESTDIR=${INSTALL_DIR} install


FROM scratch
{{ gbv.arg('INSTALL_DIR') -}}

COPY --from=build ${INSTALL_DIR}/ /
